<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'main/headers.html.twig' %}
    </head>
    <body id = 'page-top' data-spy="scroll" data-target="#nav" data-offset="75">
        {% block content %}
            <div id="content">
                <!--NAVBAR
                ========================================-->
                <div id="navLimit"></div>
                {% include 'main/navbar.html.twig' %}
            <!-- Content is everything. The idea is to wait for the site to FULLY load..
            then show it to people o/ This will be achieved using PACE.JS
            =============================================================-->
                <div class="goFull">
                    <img class="goFull-bg" src="{{ base_url("assets/img/Image.jpg") }}"/>
                    <img class='goFull-logo' src="{{ base_url("assets/img/logo.png") }}"/>
                    <span class='goFull-caption'>Importaciones, Representaciones y Distribuidores en General</span>
                    <img class = 'goFull-button' src="{{ base_url("assets/img/arrowDown.png") }}"/>
                </div>


                <!--MAIN CONTENT CONTAINER
                =================================
                -->

                <div class="container">
                    {% for section in sections %}
                      {% if section.section_type == 'block' %}
                        {% include 'main/block_section.html.twig' %}
                      {% endif %}
                      {% if section.section_type == 'text_image' %}
                        {% include 'main/text_image_section.html.twig' %}
                      {% endif %}
                      {% if section.section_type == 'image' %}
                        {% include 'main/image_section.html.twig' %}
                      {% endif %}
                      {% if section.section_type == 'full_text' %}
                        {% include 'main/full_text_section.html.twig' %}
                      {% endif %}
                    {% endfor %}


                    {% block contact_form %}
                      {% include 'main/contact_form.html.twig' %}
                    {% endblock %}
                </div>

                <div class="container-fluid" id="copy">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center">&copy Luis Rojas</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% include 'main/javascript.html.twig' %}
    </body>
</html>
