html {
    height: 100%;
}

body,html{
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#login_html,#login_body{
  width: 100%;
  background-color: #34495e;
}

#login_body{
  margin-top : 50px;
}

#login_container{
  background: white;
  border : 1px solid #bdc3c7;
  border-radius: 7px;
  padding: 25px;
}

.container-fluid{
  padding: 0px;
}

.jumbotron{
  background-color: #3498db;
  color: white;
}

.btn a{
  color: white;
}
.btn a:hover{
  color: white;
  text-decoration: none;
}

.tab-pane{
  margin-top:20px;
}

.nav-tabs > li.active{
  border-top: 3px solid #3498DB;
  overflow: hidden;
}
.nav-tabs > li > a{
  margin-right: 0px;
}

.templateIcon{
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #3498DB;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

.templateIcon:hover{
  cursor: pointer
}

.templateIcon.active, .templateIcon:hover{
  background-color: #3498DB;
  color: white;
}

input[type=color]{
  padding: 0px;
}

.noPad{
  padding: 0px;
}

.noPad-left{
  padding-left: 0px;
}

.noPad-right{
  padding-right: 0px;
}

.btn-file{
  overflow: hidden;
  position: relative;
}

.btn-file input[type=file],span.btn-file input[type=color]{
  position:absolute;
  top: 0px;
  left:0px;
  opacity: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
}



#section_image-color{
  border: 1px solid #3498DB;
  overflow: hidden;
  height: 300px;
}

#error_modal .modal-header{
  background: #e74c3c;
  color: white;
}


#error_modal .modal-footer{
  padding: 5px;
}

.imageTemplate{
  height: 255px;
  background-color: #2c3e50;
  overflow: hidden;
}

.flex-container{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-container.flex-column{
  flex-direction: column;
}

.flex-column,.btn{
  margin-bottom: 7px;
}
.flex-item{
  flex: 1;
}

.table-image{
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.dropzone{
  border: solid 1px #3498db;
}

.dz-message{
  margin: 75px !important;
}

.spinner-container{
  position: relative !important;
}

#image_section-container{
  background-color: #ecf0f1;
  padding: 7px 0px;
  margin: 0px;
}

#homescreen_background_container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #ecf0f1;
}

#homescreen_logo_container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #ecf0f1;
  padding: 5px;
}

.quote{
  display:block;
  text-align:center;
  margin:auto;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 17px;
}

.quotation{
  font-weight: bold;
  font-size: 25px;
}
