<div style="border: 1px solid #795B43;border-top: 20px solid #795B43;padding: 20px;font-size: 16px;
font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;">
    <div style="text-align: justify;">
        <p>
            {{body}}
        </p>
        <p style="text-align: right;">
            - {{name}}
        </p>
    </div>
    <div>
        <p>
            <h4 style="color: #795B43;margin-bottom: 5px;">Contacto</h4>
            Correo Electronico: {{from}}
        </p>
    </div>
</div>
